
html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  background-color: #232323;
  color: #656565;
}

h1 {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

#wrapper {
  position: relative;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  white-space: nowrap;
}

.ridePane {
  background-color: #373737;
  color: #efefef;
}

#pinSection {
  margin-top: 40px;
  padding-bottom: 20px;
}

#pinSection form {
  width: 100%;
}

#pinSection form .form-group {
  width: calc(100% - 10vw);
}

#pinSection form .form-group input {
  width: 100%;
  border-radius: 0;
}

#pinSection form button {
  width: 10vw;
  border-radius: 0;
  background-color: #4c4c4b;
  color: #ffffff;
}

#errorSection {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  color: #ff0000;
}

#errorSection .alert {
  width: 100%;
  border-radius: 0;
  min-height: 50px;
}

.infoItem {
  text-align: center;
  white-space: normal;
}